@model GeekBooks.Review
@{
    ViewBag.Title = "Review Form";
}

<script>
    /*function postStar(rating) {
        var rate = rating.getAttribute('data-hook');
        alert("Rating: " + rate);
    }*/
    $(document).ready(function () {
        $("button").click(function () {
            $("p:first").addClass("checked");
        });
    });
</script>
<style>

    .checked {
        color: orange;
    }

    .rating {
        color: orange;
        unicode-bidi: bidi-override;
        direction: rtl;
    }

        .rating > span {
            display: inline-block;
            position: relative;
            width: 1.1em;
        }

            .rating > span:hover:before,
            .rating > span:hover ~ span:before {
                content: "\2605";
                position: absolute;
            }
</style>
<!--<p>This is a test paragraph.</p>
<button>add a class name to first p element</button>-->
<h2>Create a Review</h2>
@using (Html.BeginForm("CreateReview", "Review", FormMethod.Post))

{
    <div class="form-group">
    <h3>ISBN</h3>
    @Html.HiddenFor(m => m.ISBN)
    @*@Html.TextBoxFor(m => m.ISBN, new { @class = "form-control" })*@
    <br />
    <hr />
    <h3>Username</h3>
    @Html.HiddenFor(m => m.Username) 
    @*@Html.TextBoxFor(m => m.Username, new { @class = "form-control" })*@
    <br />
    <hr />
    <h3>Rating</h3>
    <!--To Do: Change rating textbox to star-icons-->
    <div class="rating">

        <span class="glyphicon glyphicon-star" data-hook="star">☆</span>
        <span class="glyphicon glyphicon-star" data-hook="star">☆</span>
        <span class="glyphicon glyphicon-star" data-hook="star">☆</span>
        <span class="glyphicon glyphicon-star" data-hook="star">☆</span>
        <span class="glyphicon glyphicon-star" data-hook="star">☆</span>

    </div>
    @Html.TextBoxFor(m => m.Rating, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Rating)
    <br />
    <hr />
    <h3>Write your review</h3>
    @Html.TextAreaFor(m => m.Comment, new { @class = "form-control", placeholder= "What did you like or dislike?", cols = "20", rows = "5" })
    @Html.ValidationMessageFor(m => m.Comment)
    <br />
    <hr />
    <h3>DatePosted</h3>
    @Html.HiddenFor(m => m.DatePosted)
    @*@Html.TextBoxFor(m => m.DatePosted, new { @class = "form-control" })*@

    <br />
    <hr />
    <h4>Post anonymously?</h4>
    @Html.CheckBoxFor(m => m.BoolValue, new { @class = "form-check"})
    <br />
    <hr />
    </div>

    <input type="submit" value="Submit" class="btn btn-primary" />

}

<hr />
<h4 style="color:purple">
    ISBN: @ViewBag.ISBN <br />
    Username: @ViewBag.Username <br />
    Rating: @ViewBag.Rating <br />
    Comment: @ViewBag.Comment <br />
    DatePosted: @ViewBag.DatePosted <br />
    Anonymous?: @ViewBag.BoolValue | @ViewBag.Anonymous <br />
</h4>

<!--onclick="postStar(this)"-->
<!--
<div>
    <form action="~/Book/Details/1">
        <h2>
            <span>Create Review</span>
        </h2>
        <hr />
        <h3>
            <span>Rating</span>
        </h3>
        <p>This is a test paragraph.</p>
<button type="button" class="glyphicon glyphicon-star" data-hook="star"></button>
<button type="button" class="glyphicon glyphicon-star" data-hook="star"></button>
<button type="button" class="glyphicon glyphicon-star" data-hook="star"></button>
<button type="button" class="glyphicon glyphicon-star" data-hook="star"></button>
<button type="button" class="glyphicon glyphicon-star" data-hook="star"></button>
<hr />
<h3>
    <span>Add a Headline</span>
</h3>
<input type="text" />
<h3>
    <span>Write your review</span>
</h3>
<textarea placeholder="What did you like or dislike?"></textarea>
<br />
<br />
<input type="submit" value="submit" />
    </form>
</div>
-->
