@model GeekBooks.Review
@{
    ViewBag.Title = "Review Form";
}

<script type="text/javascript">
    /*function postStar(rating) {
        var rate = rating.getAttribute('data-hook');
        alert("Rating: " + rate);
    }*/
    $(document).ready(function () {
        $("button").click(function () {
            $("p:first").addClass("checked");
        });
    });

    /*$(document).ready(function () {
        $("#s1").click(function () {
            $("#s1").css("color", "orange");
        })
    });*/

    /*var queries = {};
    $.each(window.location.search.substr(1).split('&'), function (c, q) {
        var i = q.split('=');
        queries[i[0].toString()] = i[1].toString();
    });*/

    $(document).ready(function () {
        $('#s1').click(function () {
            $('.fa-star').css("color", "black");
            $('#s1').css("color", "orange");
            $('#rate').text('1/5');
            $('#rateBox').val(1); 
        });
        $('#s2').click(function () {
            $('.fa-star').css("color", "black");
            $('#s1, #s2').css("color", "orange");
            $('#rate').text('2/5');
            $('#rateBox').val(2);
        });
        $('#s3').click(function () {
            $('.fa-star').css("color", "black");
            $('#s1, #s2, #s3').css("color", "orange");
            $('#rate').text('3/5');
            $('#rateBox').val(3);
        });
        $('#s4').click(function () {
            $('.fa-star').css("color", "black");
            $('#s1, #s2, #s3, #s4').css("color", "orange");
            $('#rate').text('4/5');
            $('#rateBox').val(4);
        });
        $('#s5').click(function () {
            $('.fa-star').css("color", "black");
            $('#s1, #s2, #s3, #s4, #s5').css("color", "orange");
            $('#rate').text('5/5');
            $('#rateBox').val(5);
        });

        //$('#isbn').val(queries["ISBN"]);
        //$('#user').val(queries["user"]);
    });

    $document.ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    console.log(queries);

</script>
<style>

    .checked {
        color: orange;
    }

    .rating {
        color: black;
        unicode-bidi: bidi-override;
        direction: rtl;
    }

    .form-group{
        text-align: center;
        display: block;
        margin: auto;
        width: 50%;
        padding: 10px;
    }

        /*.rating > i {
            display: inline-block;
            position: relative;
            width: 1.1em;
        }

            .rating > i:hover:before,
            .rating > i:hover ~ i:before {
                content: "\2605";
                color: orange;
                position: absolute;
            }*/

    .rating > i:hover:before,
    .rating > i:hover ~ i:before {
        color: rgb(209, 136, 0);
        cursor: pointer;
    }

    .fa-star{
        font-size: 50px;
    }

    #isbn:hover{
        color: #ffaa00;
    }

    #commentbox {
        border: 5px ridge #E95420;
        outline: 0;
        outline-color: #E95420;
        outline-width: 3px;
    }
        /*#commentbox:hover {
            color: #E95420;
        }*/

        /*Making it look like bootstrap focus*/
        #commentbox:focus {
            border: 5px inset #E95420;
            /*box-shadow: 0 0 0 0.2rem rgba(236, 110, 65, 0.5);
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            transition-property: color, background-color, border-color, box-shadow, -webkit-box-shadow;
            transition-duration: 0.15s, 0.15s, 0.15s, 0.15s, 0.15s;
            transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out;
            transition-delay: 0s, 0s, 0s, 0s, 0s;*/
        }

    #button1:active {
        background-color: #ce4414;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    #button1:checked {
        cursor: progress;
    }

    #checkbox:checked {
        border:#ce4414;
    }
</style>

<h2 style="text-align: center;">Create a Review</h2>
@using (Html.BeginForm("CreateReview", "Review", FormMethod.Post))

{
<div class="form-group">
    <!--<h3>ISBN</h3>-->
    @Html.HiddenFor(m => m.ISBN, new { id = "isbn"})
    @*@Html.TextBoxFor(m => m.ISBN, new { @class = "form-control form-group", id = "isbn", style="border:5px ridge orange;" })*@
    <!--<br />
    <hr />
    <h3>Username</h3>-->
    @Html.HiddenFor(m => m.Username, new { id = "user" })
    @*@Html.TextBoxFor(m => m.Username, new { @class = "form-control form-group", id = "user" })
    <br />
    <hr />*@
    <h3>Rating</h3>
    <!--To Do: Change rating textbox to star-icons-->
    <div class="rating">

        <!--<span class="glyphicon glyphicon-star" data-hook="star" id="s1">☆</span>
        <span class="glyphicon glyphicon-star" data-hook="star" id="s2">☆</span>
        <span class="glyphicon glyphicon-star" data-hook="star" id="s3">☆</span>
        <span class="glyphicon glyphicon-star" data-hook="star" id="s4">☆</span>
        <span class="glyphicon glyphicon-star" data-hook="star" id="s5">☆</span>-->

        <i class="fa fa-star" aria-hidden="true" id="s5" data-toggle="tooltip" data-placement="top" title="Excellent"></i>
        <i class="fa fa-star" aria-hidden="true" id="s4" data-toggle="tooltip" data-placement="top" title="Very good"></i>
        <i class="fa fa-star" aria-hidden="true" id="s3"  data-toggle="tooltip" data-placement="top" title="Good"></i>
        <i class="fa fa-star" aria-hidden="true" id="s2" data-toggle="tooltip" data-placement="top" title="Below average"></i>
        <i class="fa fa-star" aria-hidden="true" id="s1" data-toggle="tooltip" data-placement="top" title="Poor"></i>

    </div>
    <b id="rate">0/5</b>
    @Html.HiddenFor(m => m.Rating, new { id = "rateBox" })
    @*@Html.TextBoxFor(m => m.Rating, new { @class = "form-control form-group", id = "rateBox" })*@
    @Html.ValidationMessageFor(m => m.Rating)
    <br />
    <hr />
    <h3>Write your review</h3>
    @Html.TextAreaFor(m => m.Comment, new { @class = "form-control form-group", id="commentbox", placeholder = "What did you like or dislike?", cols = "20", rows = "5", style="text-align: left;" })
    @Html.ValidationMessageFor(m => m.Comment)
    @*<br />
    <hr />
    <h3>DatePosted</h3>*@
    @Html.HiddenFor(m => m.DatePosted)
    @*@Html.TextBoxFor(m => m.DatePosted, new { @class = "form-control" })*@

    <br />
    <hr />
    <h4>Post anonymously?</h4>
    @Html.CheckBoxFor(m => m.BoolValue, new { @class = "form-check form-group", id="checkbox" })
    <br />
    <hr />
    <input type="submit" value="Submit" class="btn btn-primary" id="button1" />
</div>


}

<!--<hr />
<h4 style="color:purple">
    ISBN: @ViewBag.ISBN <br />
    Username: @ViewBag.Username <br />
    Rating: @ViewBag.Rating <br />
    Comment: @ViewBag.Comment <br />
    DatePosted: @ViewBag.DatePosted <br />
    Anonymous?: @ViewBag.BoolValue | @ViewBag.Anonymous <br />
</h4>-->

<!--onclick="postStar(this)"-->
<!--
<div>
    <form action="~/Book/Details/1">
        <h2>
            <span>Create Review</span>
        </h2>
        <hr />
        <h3>
            <span>Rating</span>
        </h3>
        <p>This is a test paragraph.</p>
<button type="button" class="glyphicon glyphicon-star" data-hook="star"></button>
<button type="button" class="glyphicon glyphicon-star" data-hook="star"></button>
<button type="button" class="glyphicon glyphicon-star" data-hook="star"></button>
<button type="button" class="glyphicon glyphicon-star" data-hook="star"></button>
<button type="button" class="glyphicon glyphicon-star" data-hook="star"></button>
<hr />
<h3>
    <span>Add a Headline</span>
</h3>
<input type="text" />
<h3>
    <span>Write your review</span>
</h3>
<textarea placeholder="What did you like or dislike?"></textarea>
<br />
<br />
<input type="submit" value="submit" />
    </form>
</div>
-->
