@model IEnumerable<GeekBooks.Review>


@{
    ViewBag.Title = "Reviews List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .reviews {
        background-color: whitesmoke;
        padding: 10px;
    }

        .reviews > b {
            color: purple;
        }
</style>

<h2>Reviews</h2>


@{
    foreach(var item in Model)
    {
<div class="reviews">
    <b>ISBN:</b> @Html.DisplayFor(modelItem => item.ISBN)    <br />
    <b>User:</b> @if (item.Anonymous == 1) { <span style="color:black">GeekBooks User</span> } else { @Html.DisplayFor(modelItem => item.Username) } <br />
    <b>Rating:</b> @Html.DisplayFor(modelItem => item.Rating)        <br />
    <b>Posted:</b> @Html.DisplayFor(modelItem => item.DatePosted)       <br />
    <b>Comment:</b> @Html.DisplayFor(modelItem => item.Comment)   <br />
    <b>Anonymous check: </b> @item.Anonymous <br />
    <b>Nickname check: </b> @item.Nickname <br />
</div>
    }

    /*foreach (var i in Model)
    {
        <div>
            <b>T/F</b> @Html.DisplayFor(m => i.ReviewModel.Anonymous) <br />
        </div>
    }*/
}
