@model IEnumerable<GeekBooks.Review>


@{
    ViewBag.Title = "Reviews List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .reviews{
        background-color:whitesmoke;
        padding: 10px;
    }

    .reviews > b{
        color:purple;
    }
</style>

<h2>Reviews</h2>
@{
    foreach(var item in Model)
    {
    <div class="reviews">
        <b>ISBN:</b> @item.ISBN      <br />
        <b>User:</b> @item.Username <br />
        <b>Rating:</b> @item.Rating        <br />
        <b>Posted:</b> @item.DatePosted       <br />
        <b>Comment:</b> @item.Comment       <br />
    </div>
    }
}
