@*@model IEnumerable<GeekBooks.ShoppingCart>*@

<div class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("GeekText", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

        </div>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">
                <li>@Html.ActionLink("Books", "Index", "Book", new { area = "" }, new { @class = "navbar" })</li>

                <li>@Html.ActionLink("Profile", "Profile", "Account", new { area = "" }, new { @class = "navbar" })</li>

                <li>@Html.ActionLink("Wish Lists", "WishList", "Account", new { id = Session["Username"] }, new { @class = "navbar" })</li>
                <li>@Html.Partial("_loginPartial")</li>
            </ul>
        
            <div class="navbar-collapse collapse" align="right">
                <ul class="navbar-collapse collapse navbar-right">
                    @using (Html.BeginForm("ShoppingCartDetail", "ShoppingCart"))
                    {
                        @Html.Hidden("Username", Session["Username"])


                        <input type="image" img alt="Cart" src="~/Content/Images/CartDetail.png" style=" width: 40px; height: auto;">

                    }
                </ul>
            </div>

        </div>
    </div>
</div>
