@model GeekBooks.ViewModels.BookDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h3>Book Details</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookGenre.GenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookGenre.GenreName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.BookDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.BookDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.PublisherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.PublisherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.DatePublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.DatePublished)
        </dd>

    </dl>
</div>
<p>

 @Html.ActionLink("Back to List", "Index")
</p>
