@model GeekBooks.Models.BookeModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookModel.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookModel.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookModel.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookModel.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookGenreModel.GenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookGenreModel.GenreName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookModel.BookDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookModel.BookDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookModel.PublisherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookModel.PublisherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookModel.DatePublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookModel.DatePublished)
        </dd>

    </dl>
</div>
<p>
 @Html.ActionLink("Create a Review", "CreateReview", "Review", new { Model.BookModel.ISBN }, new { @class="btn btn-primary"}) <br /> <br />
 @Html.ActionLink("Back to List", "Index")
</p>
