@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<GeekBooks.Models.BookeModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Book List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Browse our books</h2>
<p>
    @using (Html.BeginForm())
    {
    <p>
        Genre: @Html.DropDownList("movieGenre", "All")
        Title: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>

}
    <!--To Do: Implement browsing features-->
    <table class="table">
        <tr>
            <th>
            </th>
            <th>
                @Html.ActionLink("Title", "Index", new
           {
               sortOrder = ViewBag.TitleSortParm,
               currentFilter = ViewBag.curentFilter,
               authorID = ViewBag.AuthorID,
               searchString = ViewBag.CurrentFilter,
               movieGenre = ViewBag.GenreFilter


           })
            </th>
            <th>
                @Html.ActionLink("Price", "Index", new
           {
               sortOrder = ViewBag.PriceSortParm,
               currentFilter = ViewBag.curentFilter,
               authorID = ViewBag.AuthorID,
               searchString = ViewBag.CurrentFilter,
               movieGenre = ViewBag.GenreFilter


           })
            </th>
            <th>
                @Html.DisplayName("Genre")
            </th>
            <th>
                @Html.ActionLink("Author", "Index", new
           {
               sortOrder = ViewBag.AuthorSortParm,
               currentFilter = ViewBag.curentFilter,
               authorID = ViewBag.AuthorID,
               searchString = ViewBag.CurrentFilter,
               movieGenre = ViewBag.GenreFilter


           })
            </th>
            <th>
                @Html.ActionLink("Rating", "Index", new
           {
               sortOrder = ViewBag.RatingSortParm,
               currentFilter = ViewBag.curentFilter,
               authorID = ViewBag.AuthorID,
               searchString = ViewBag.CurrentFilter,
               movieGenre = ViewBag.GenreFilter


           })
            </th>
            <th>
                @Html.DisplayName("ISBN")
            </th>
            <th>
                @Html.ActionLink("DatePublished", "Index", new
           {
               sortOrder = ViewBag.PriceSortParm,
               currentFilter = ViewBag.curentFilter,
               authorID = ViewBag.AuthorID,
               searchString = ViewBag.CurrentFilter,
               movieGenre = ViewBag.GenreFilter


           })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @* <img src="@Url.Content(item.BookModel.BookCover)" alt="Image" width="150" height="150" />*@
                    <a href="@Url.Action("Details", "Book", new { id = item.BookModel.ISBN, username = "guest" })" title="@item.BookModel.Title Detail" class="links">
                        <img alt="More Details" src="@Url.Content(Url.Content(item.BookModel.BookCover))" width="120" height="120">
                    </a>
                </td>
                <td>
                    @Html.ActionLink(item.BookModel.Title, "Details", "Book", new { id = item.BookModel.ISBN, username = "guest" }, null)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.BookModel.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookGenreModel.GenreName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorModel.AuthorFirst)
                    @Html.DisplayFor(modelItem => item.AuthorModel.AuthorMiddle)
                    @Html.DisplayFor(modelItem => item.AuthorModel.AuthorLast)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.reviews)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookModel.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookModel.DatePublished)
                </td>
                <td>
                    @Html.ActionLink("Add to Wish List", "WishList", new { id = item.BookModel.ISBN })  |
                    @*this is in the book index page*@
                    @*this actionlinkk should call addbooktoshoppingcart from sh*@
                   @* @Html.ActionLink("Add to Shopping Cart", "AddBookToShoppingCart", "ShoppingCart")*@

                    @using (Html.BeginForm("AddBookToShoppingCart", "ShoppingCart"))
                    {



                        @*@Html.HiddenFor(m => m.Select(a => a.ShoppingCart.ISBN), new { Value = item.BookModel.ISBN })
                        @Html.HiddenFor(m => m.Select(a => a.ShoppingCart.Username), new { Value = item.username })
                        @Html.HiddenFor(m => m.Select(a => a.ShoppingCart.Quantity), new { Value = 1 })
                        @Html.HiddenFor(m => m.Select(a => a.ShoppingCart.PriceEach), new { Value = item.BookModel.Price })
                            *@

                       @Html.Hidden("ISBN", item.BookModel.ISBN)
                       @Html.Hidden("Username", "guest" )
                       @Html.Hidden("Quantity", 1 )
                       @Html.Hidden("Price", item.BookModel.Price)




                    <button type="submit" class="btn btn-primary w-50">Add To Cart</button>


                    }

                </td>
            </tr>
        }
    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    <!--Hard Coded Below-->
    @*
        <a href="~/Book/Details/1">
        <img src="~/Content/Books/sorcerersstone.jpg" alt="sorcerersstone" style="width:256px;height:256px;" />
        </a>
        <ng-view />
        <a href="~/Book/Details/2">
        <img src="~/Content/Books/ChamberOfSecrets.jpg" alt="ChamberOfSecrets" style="width:256px;height:256px;" />
        </a>*@
