@model IEnumerable<GeekBooks.Views.ShoppingCart.ShoppingCartVM>

@{
    ViewBag.Title = "Shopping Cart Details";
}

<h2>Shopping Cart Details</h2>

@if (ViewBag.Message != null)
{
    <h3>@ViewBag.Message</h3>
}
else
{
        <p>
        @Html.ActionLink("Create New", "Create")
    </p>
        <table class="table">
            <tr>
                <th>
                    ISBM
                </th>
                <th>
                    Title
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
                <th>
                    Image
                </th>
                <th>

                </th>
                <th>
                    Total
                </th>
                <th>

                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ISBM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>
                    <td>
                        <a href="#" class="incrproduct" data-id="@item.ISBM">+</a>
                        <a href="#" class="dcrproduct" data-id="@item.ISBM">-</a>
                        <a href="#" class="removeproduct" data-id="@item.ISBM">Remove</a>
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                </tr>
            }
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>$@ViewBag.GranTotal</td>
        </tr>

        </table>
}