@model IEnumerable<GeekBooks.ShoppingCart>

@{
    ViewBag.Title = "ShoppingCartDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<h2>Shopping Cart</h2>
<hr />
<table class="table table-borderless table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cart in Model)
        {
            @* If the book in save for later is null or false, then it should display in the shoppingcart View *@
            if (!(cart.SaveForLater))
            {
                <tr>
                    <td>
                        @Html.ActionLink(cart.Book.Title, "Details", "Book", new { id = cart.ISBN, username = cart.Username }, null)
                    </td>

                    <td>
                        @using (Html.BeginForm("SaveShoppingCartQuantity", "ShoppingCart"))
                        {
                            @Html.TextBox("Quantity", cart.Quantity)<button type="submit" class="w3-button w3-tiny"><img src="~/Content/icons/save.png" height="32" width="32" /></button>



                            @Html.Hidden("Username", cart.Username)
                            @Html.Hidden("ISBN", cart.ISBN)
                            


                        }
                    </td>
                    <td>$@(cart.Quantity * cart.Book.Price)</td>
                    <td>
                        @using (Html.BeginForm("SaveForLater", "ShoppingCart"))
                        {
                            // <p><button type="submit" class="cartlink"><span>Save for Later</span></button></p>



                            @Html.Hidden("Username", cart.Username)
                            @Html.Hidden("ISBN", cart.ISBN)
                            @Html.Hidden("Quantity", cart.Quantity)
                            <input type="submit" value="SaveForLater" />

                        }

                        @*@Html.ActionLink("Save Later", "SaveForLater", "ShoppingCart", new
                                                                                       {
                                                                                             username = cart.Username,
                                                                                             isbn = cart.ISBN,
                                                                                             quantity = cart.Quantity,
                                                                                             saveForLater = cart.SaveForLater

                                                                                       }, null
                       )*@

                    </td>
                    <td align="right">
                        @Html.ActionLink("Remove", "DeleteShoppingCartBook", "ShoppingCart", new { username = cart.Username, isbn = cart.ISBN }, null)
                        @Html.ActionLink("|", null)                                               
                        @Html.ActionLink("Move to Wishlist", "MoveWishlistBookToCart", "Account")
                    </td>
                </tr>
            } 

        }
    </tbody>
</table>
<hr />

<style>
    .TextBox {
        resize: both;
    }
</style>
@Html.ActionLink("Continue Shopping", "Index", "Book", null, new { @class = "btn btn-primary btn-small" })


<hr />
<h3>Save for Later</h3>
<table class="table table-borderless table-hover">
    <thead>
        <tr>
            <th>Title</th>
        
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            if (book.SaveForLater)
            {
        <tr>
            <td>
                @Html.ActionLink(book.Book.Title, "Details", "Book", new { id = book.ISBN, username = book.Username }, null)
                
            </td>
            <td align="right">
                @Html.ActionLink("Move to Shopping Cart", "MoveSaveforlaterToShoppingCart", "ShoppingCart", new { username = book.Username, isbn = book.ISBN }, null)

            </td>

        </tr>
            }

        }
    </tbody>
</table>
@*This is to modify *@