@model IEnumerable<GeekBooks.ShoppingCart>

@{
    ViewBag.Title = "ShoppingCartDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<h2>Shopping Cart</h2>
<hr />
<table class="table table-borderless table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cart in Model)
        {
            @* If the book in save for later is null or false, then it should display in the shoppingcart View *@
            if (!(cart.SaveForLater))
            {
        <tr>

            <td>
                @if (Session["Username"] == null)
                {
                    <a href="@Url.Action("Details", "Book", new { id = cart.Book.ISBN, username = "guest" })" title="@cart.Book.Title Detail" class="links">
                        <img alt="More Details" src="@Url.Content(Url.Content(cart.Book.BookCover))" width="120" height="120">
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Details", "Book", new { id = cart.Book.ISBN, username = Session["Username"] })" title="@cart.Book.Title Detail" class="links">
                        <img alt="More Details" src="@Url.Content(Url.Content(cart.Book.BookCover))" width="120" height="120">
                    </a>
                }

            </td>
            <td>
                @Html.ActionLink(cart.Book.Title, "Details", "Book", new { id = cart.ISBN, username = cart.Username }, null)
            </td>
            <td>$@(cart.Quantity * cart.Book.Price)</td>
            <td>
                @using (Html.BeginForm("SaveShoppingCartQuantity", "ShoppingCart"))
                {
                    @Html.TextBox("Quantity", cart.Quantity, new { @style = "width: 50px" })<button type="submit" class="w3-button w3-tiny"><img src="~/Content/icons/save.png" height="32" width="32" /></button>



                    @Html.Hidden("Username", cart.Username)
                    @Html.Hidden("ISBN", cart.ISBN)



                }
            </td>

            <td>
                @using (Html.BeginForm("SaveForLater", "ShoppingCart"))
                {
                    // <p><button type="submit" class="cartlink"><span>Save for Later</span></button></p>



                    @Html.Hidden("Username", cart.Username)
                    @Html.Hidden("ISBN", cart.ISBN)
                    @Html.Hidden("Quantity", cart.Quantity)
                    <input type="submit" value="SaveForLater" />

                }

                @*@Html.ActionLink("Save Later", "SaveForLater", "ShoppingCart", new
                                                                            {
                                                                                  username = cart.Username,
                                                                                  isbn = cart.ISBN,
                                                                                  quantity = cart.Quantity,
                                                                                  saveForLater = cart.SaveForLater

                                                                            }, null
            )*@

            </td>

            @*
        <td align="right">
            @Html.ActionLink("Remove", "DeleteShoppingCartBook", "ShoppingCart", new { username = cart.Username, isbn = cart.ISBN }, null)
            @Html.ActionLink("|", null)
            @Html.ActionLink("Move to Wishlist", "MoveWishlistBookToCart", "Account")
        </td>
            *@
            <td>
                @using (Html.BeginForm("DeleteShoppingCartBook", "ShoppingCart"))
                {

                    @*@Html.HiddenFor(m => m.Select(a => a.ShoppingCart.ISBN), new { Value = item.BookModel.ISBN })
                @Html.HiddenFor(m => m.Select(a => a.ShoppingCart.Username), new { Value = item.username })
                @Html.HiddenFor(m => m.Select(a => a.ShoppingCart.Quantity), new { Value = 1 })
                @Html.HiddenFor(m => m.Select(a => a.ShoppingCart.PriceEach), new { Value = item.BookModel.Price })
                    *@

                    @Html.Hidden("ISBN", cart.ISBN)
                    @Html.Hidden("Username", "guest")




                    <input type="image" img alt="Remove" src="~/Content/Images/TrashIcon.png" style=" width: 40px; height: auto;">

                    @*<button type="submit" class="btn btn-primary w-100">Add To Cart</button>*@


                }
            </td>
        </tr>
            } 

        }
    </tbody>
</table>
<hr />

<style>
    .TextBox {
        resize: both;
    }
</style>
@Html.ActionLink("Continue Shopping", "Index", "Book", null, new { @class = "btn btn-primary btn-small" })


<hr />
<h3>Save for Later</h3>
<table class="table table-borderless table-hover">
    <thead>
        <tr>
            <th>Title</th>
        
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            if (book.SaveForLater)
            {
        <tr>
            <td>
                @Html.ActionLink(book.Book.Title, "Details", "Book", new { id = book.ISBN, username = book.Username }, null)
                
            </td>
            <td align="right">
                @Html.ActionLink("Move to Shopping Cart", "MoveSaveforlaterToShoppingCart", "ShoppingCart", new { username = book.Username, isbn = book.ISBN }, null)

            </td>

        </tr>
            }

        }
    </tbody>
</table>
@*This is to modify *@