@model GeekBooks.ShippingAddress

@{
    ViewBag.Title = "DetailsAddress";
}

<h2>DetailsAddress</h2>

<div>
    <h4>ShippingAddress</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PreferredAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreferredAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.User.UserPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserPassword)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditCard", new {username=Model.Username, id=Model.AddressNum }) |
    @Html.ActionLink("Back to List", "Address")
</p>
