@model GeekBooks.User

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserFirst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserFirst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserMiddle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserMiddle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserLast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLast)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeAddress.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeAddress.Street)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditProfile", new { username = Model.Username }) |
    @Html.ActionLink("Back to List", "Index")
</p>
