@model IEnumerable<GeekBooks.ShoppingCart>

@{
    ViewBag.Title = "ShoppingCartDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Shopping Cart</h2>
<hr />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@Html.ActionLink(book.Book.Title, "Details", "Book", new { id = book.ISBN, username = book.Username }, null)</td>
                <td>@book.Quantity @Html.ActionLink("update", "UpdateShoppingCartQuantity", "Account", new { Username = book.Username, Isbn = book.ISBN}, null)</td>
                <td>$@(book.Quantity * book.Book.Price)</td>
                <td>
                    @Html.ActionLink("delete", "DeleteShoppingCartBook", "Account", new { username = book.Username, isbn = book.ISBN }, null)
                    @Html.ActionLink("|", null)
                    @Html.ActionLink("move to cart", "MoveWishlistBookToCart", "Account")
                </td>             
            </tr>
        }
    </tbody>
</table>
<hr />
@Html.ActionLink("Look for more books", "Index", "Book", null, new { @class = "btn btn-primary btn-small" })