@model GeekBooks.WishlistBook
@{
    ViewBag.Title = "UpdateWishlistQuantity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Enter New Quantity</h2>
<hr />
@using (Html.BeginForm("SaveWishlistQuantity", "Account"))
{
    <div class="form-group">
        @Html.LabelFor(w => w.Quantity)
        @Html.TextBoxFor(w => w.Quantity, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(w => w.Username, new { Value = Model.Username })
    @Html.HiddenFor(w => w.ISBN, new { Value = Model.ISBN })
    @Html.HiddenFor(w => w.WishlistName, new { Value = Model.WishlistName })

    <button type="submit" class="btn btn-primary">Save</button> @Html.ActionLink("Cancel", "WishlistDetail", "Account", new { WishlistName = Model.WishlistName, Username = Model.Username }, new { @class = "btn btn-primary btn-small" })
}